[submodule "oh-my-zsh"]
	path = home/.oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.vim/bundle/vim-haml"]
	path = home/.vim/bundle/vim-haml
	url = http://github.com/tpope/vim-haml.git
[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "home/.vim/bundle/rails"]
	path = home/.vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/greplace"]
	path = home/.vim/bundle/greplace
	url = https://github.com/vim-scripts/greplace.vim.git
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/ack"]
	path = home/.vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/repeat"]
	path = home/.vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
